<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zvyyvtenzzr.pp@tznvy.pbz</string>
	<key>contactName</key>
	<string>milligramme</string>
	<key>description</key>
	<string>TextMate Bundle for
basil.js // http://basiljs.ch/</string>
	<key>name</key>
	<string>basiljs</string>
	<key>uuid</key>
	<string>810F4CCC-BB77-487F-B1DD-D93D37D13C1C</string>
</dict>
</plist>
